

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icones/icomoon.eot');
  src:  url('../fonts/icones/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icones/icomoon.woff') format('woff'),
    url('../fonts/icones/icomoon.svg') format('svg'),
    url('../fonts/icones/dexyde.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-waterfall-flux2:before {
  content: "\e902";
}
.icon-waterfall-solde2:before {
  content: "\e903";
}
.icon-waterfall-flux:before {
  content: "\e900";
}
.icon-waterfall-solde:before {
  content: "\e901";
}
.icon-curve-chart:before {
  content: "\cc";
}
.icon-bar-chart .path1:before {
  content: "\c03";
  color: rgb(51, 51, 51);
}
.icon-bar-chart .path2:before {
  content: "\c04";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-bar-chart .path3:before {
  content: "\c05";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-bar-chart .path4:before {
  content: "\c06";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.icon-bar-chart .path5:before {
  content: "\c07";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.icon-bar-chart .path6:before {
  content: "\c08";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}




@font-face {
  font-family: SF UI Display Black;
  src: url('../fonts/sf-ui-display-black-58646a6b80d5a.otf');
}

@font-face {
  font-family: SF UI Display Bold;
  src: url('../fonts/sf-ui-display-bold-58646a511e3d9.otf');
}

@font-face {
  font-family: SF UI Display Light;
  src: url('../fonts/sf-ui-display-light-58646b33e0551.otf');
}

@font-face {
  font-family: SF UI Display Medium;
  src: url('../fonts/sf-ui-display-medium-58646be638f96.otf');
}
